.footer {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
}

.footer p {
  margin: 5px 0;
  font-size: 14px;
  opacity: 0.8;
}
.tm {
  color: #ffa600;
  font-size: 1rem;
}
.email {
  color: #ffa600;
  text-decoration: none;
}

.email:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    padding: 15px;
  }

  .footer p {
    font-size: 12px;
  }
}
