.quickAccess {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  background-color: #e9f3ff;
  padding: 1rem;
  border-radius: 8px;
}

.item {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #003f88;
  font-weight: 500;
}
