.card {
  background: #ffffff;

  backdrop-filter: blur(150px);
  animation: slideUp 0.5s ease-out;

  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  @media (max-width: 768px) {
    min-width: 100%;
  }
}

.card:hover {
  transform: translateY(-3px);
}

.name {
  font-size: 0.8rem;
  font-weight: 500;
  color: #ffa600;
}

.price {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: -5px;
  color: #ffa600;
  text-align: left;
}

.duration {
  font-size: 0.7rem;
  color: #0b1a45;
  opacity: 0.8;
  margin-bottom: -5px;
}
.devices {
  font-size: 0.8rem;
  margin-bottom: -5px;
  color: #0b1a45;
  text-align: left;
}
.button {
  font-size: 0.9rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #263a73;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s;
  width: 80px;
  height: 40px;
}

.button:hover {
  background: #ffa600;
  color: #263a73;
  font-weight: 600;
}
